.tengah{
  margin-left: 100px;
}

.isian{
  margin-top: 30px;
}

.user{
  margin-top: 7px;
}

.tigatombol{
  margin-top: 50px;
}

.card p{
  text-align: center;
  font-size: 10px;
}

.daftar{
  float: right;
}
